/.quarto/
**/*.quarto_ipynb
_site/
docs/
*_files/
.DS_Store


.Renviron

# Quarto build artifacts
site_libs/
_site/

# Local dev overrides (do not commit)
slides/_metadata-dev.yml
devclasslib

# dev-only
slides/_metadata-dev.yml
devclasslib

.quarto/

slides/_dev-preview.qmd

slides/_dev-preview.qmd
slides/hickernell-slides-dev.yml
