name: Publish Quarto site to gh-pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install numpy matplotlib

      - uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: |
          R -q -e 'install.packages(c("knitr","rmarkdown","reticulate"), repos="https://cloud.r-project.org")'

      - name: Render
        env:
          RETICULATE_PYTHON: ${{ env.pythonLocation }}/bin/python
        run: |
          quarto render

      - name: Publish to gh-pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
